
body{
    background-color: #f5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
}
/*font google*/

  
    
  
/**/

.contenaire{
    background-color: #ffffff;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    width: 1536px;
    height: 1042px;

}
.gauche{
    display: flex;
    position: absolute;
    margin-left: 768px;
}
.droite{
    display: flex;
    width: 50%;
}
.titre{
    position: absolute;
    align-items: center;
    margin-left: 100px;
    margin-top: 200px;
}
.image{
    display: flex;
    position: absolute;
    width: 130px;
    height: 10px;
    margin-right: 100%;
    margin-top: 600px;

}
.formulaire{
    margin-top: 35%;
    margin-left: 100px;
    height: 404px;
    width: 638px;
    background-color: #ffffff
}
input[type="text"]{
    margin-top: 55px;
    border: 1px solid #f5F5F5;
    box-shadow: 0 0 5px;
    border-radius: 15px 15px 15px;
    width: 200%;
    height: 10%;
}
input[type="email"]{
    margin-top: 55px;
    border: 1px solid #f5F5F5;
    box-shadow: 0 0 5px;
    border-radius: 15px 15px 15px;
    width: 200%;
    height: 10%;
}
input[type="password"]{
    margin-top: 55px;
    border: 1px solid #f5F5F5;
    box-shadow: 0 0 5px;
    border-radius: 15px   15px 15px;
    width: 200%;
    height: 10%;
}
.formulaire label{
    position: absolute;
    margin-top: 29px;
    margin-left: 0;

}
h2{
    margin-top: -60px;
    margin-bottom: 20px;
    font-size: 30px;
}
p{
    display: flex;
    position: absolute;
    margin-left: 50px;
    align-items: center;
}
#box{
    /*check box */
    border: none;
    margin-top: 18px;
}
form #sign{
    position: absolute;
    margin-top: 60px;
    margin-left: -20px;
    width: 33%;
    background-color: #3A5B22;
    height: 35px;
    color: #f5F5F5;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}
.img{
    position: relative;
    margin-left: 0;

    height: 40px;
}
#lien{
    display: flex;
    margin-top: -20px;
    width: 1000px;
    margin-left: 500px;

}
.google{
    display: flex;
    position: absolute;
    margin-left: 360px;
    margin-top: -150px;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    color: #737373;
    width: 280px;
    text-align: center;
    background-color: #ffffff;
    

}
.apple{
    display: flex;
    position: absolute;
    margin-left: 680px;
    margin-top: -150px;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    color: #737373;
    width: 280px;
    background-color: #ffffff;
}
/*Pour mon formulaire de sign */
#s{
    /*display: flex;
    position: relative;
    margin-top: 35px;
    border: 1px solid #f5F5F5;
    box-shadow: 0 0 5px;
    border-radius: 8px 8px 8px;
    margin-top: 40px;
    width: 200%;
    height: 10%;*/
    margin-top: 55px;
    border: 1px solid #f5F5F5;
    box-shadow: -2px -2px 2px #ccc;
    border-radius: 8px  8px 8px;
    width: 200%;
    height: 11%;
}
#phrase{
    width: 200%;
    margin-top: 0;
    margin-bottom: 3%;
    margin-left: 0px;
}
.forget{
    display: flex;
    position: absolute;
    margin-left: 580px;
    margin-top: 400px;
    color: blue;
    text-decoration: none;
}
/*Separator*/
.separator {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    position: absolute;
    display: flex   ;
    margin-top: 200px;
    margin-left: -350px;
    height: 2px;
    width: 165%;
    background-color: #ccc;
  }
  
  .or {
    position: absolute;
    margin-top: 200px;
    margin-left: -350px;
    transform: translateX(-50%);
    padding: 0 10px;
    background-color: white;
  }
  #policy{
    margin-left: 20px;
  }
  a{
    color: blue;
    margin-left: 10px;
    text-decoration: none;
  }
  #therms{
    color: black;
    text-decoration: underline;
  }
  /*pour signup*/
  .separators {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lines {
    position: absolute;
    display: flex   ;
    margin-top: 400px;
    margin-left: -350px;
    height: 2px;
    width: 165%;
    background-color: #ccc;
  }
  
  .ors {
    position: absolute;
    margin-top: 400px;
    margin-left: -350px;
    transform: translateX(-50%);
    padding: 0 10px;
    background-color: white;
  }
  .googles{
    display: flex;
    position: absolute;
    margin-left: 360px;
    margin-top: -60px;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    color: #737373;
    width: 280px;
    text-align: center;
    align-items: center;
    background-color: #ffffff;

}
.apples{
    display: flex;
    position: absolute;
    margin-left: 680px;
    margin-top: -60px;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    color: #737373;
    width: 280px;
    background-color: #ffffff;
}
#liens{
    display: flex;
    margin-top: 50px;
    width: 1000px;
    margin-left: 500px;

}
.image{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}
